@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/authPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

/* In your CSS file */
.backgroundAuth {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("/authPage2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.backgroundAuthLayer {
    background-image: url('/authPageLayer.png');
}

.backgroundHomePage {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url("/darkbg2.jpg");
    background-repeat: no-repeat;
    /* padding: 10px; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* Defined a generic class that includes Tailwind utility classes */

.auth_btn {
    @apply btn flex items-center text-sm font-medium transition duration-300 rounded-2xl text-gray-400 bg-slate-800 hover:cursor-pointer hover:ring-4 focus:ring-neutral-200;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    /* background: #303030; */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #757575;
}